* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ecf0f7;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
