.weather {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 48em) {
    margin: 0 32rem;
  }

  &__location {
    font-size: 1.8rem;
    font-weight: 700;

    @media (min-width: 48em) {
      font-size: 3.6rem;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;

    @media (min-width: 48em) {
      width: 8rem;
      height: 8rem;
    }
  }
}

.w-metrics {
  font-size: 1.6rem;
  margin: 0.5rem 6rem;
  border: 1px solid $color-light-gray;

  @media (min-width: 48em) {
    margin: 2rem 32rem;
  }

  &__item {
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;

    &:nth-child(odd) {
      background-color: $color-primary-light-2;
    }
  }

  &__units {
    font-weight: 700;
  }
}

.p-metrics {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.4rem;
  gap: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 4rem;

  @media (min-width: 48em) {
    margin: 4rem 32rem;
  }

  &__title {
    font-weight: 700;
  }

  &__details {
    text-transform: uppercase;
  }
}

.summary {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  border-radius: 4px;
  color: $color-white;

  @media (min-width: 48em) {
    margin: 4rem 32rem;
    padding: 2rem;
  }
}
